<div class="userNameAndGoal">
  <div class="userName">
    <div class="userName__cont">hi,
      <input [(ngModel)]="userName" (ngModelChange)="updateUserName()"
        class="userName__name" placeholder="name"/>
    </div>
  </div>

  <div class="streak">
    <input [ngModel]="streak" (ngModelChange)="addStreak()"
      class="streak__num" readonly/>
    <div class="streak__text">days streak</div>
  </div>
</div>

<div class="goal">
  <input [(ngModel)]="goal" (ngModelChange)="updateGoal()"
    class="goal__text" placeholder="goal"/>
</div>
