:host{
  --color-basic: white;
  --color-brand: #3C4AA7;

  display: block;

  height: 450px;
  width: 600px;
}

input{
  all: unset;
}

.userName{
  position:relative;
  transform: rotate(90deg);
  transform-origin: left top;
  left: 55px;

  font-size: 50px;
  color: var(--color-basic);
}

.userName-name{
  width: 260px;

  color: var(--color-brand);
}

.streak{
  position: relative;
  float: right;
  bottom: 65px;
  right: 0;
}

.streak--num{
  width: 600px;

  text-align: right;

  font-size: 100px;
  color: var(--color-brand);
}

.streak--text{
  position: relative;
  text-align: right;
  bottom: 20px;

  font-size: 130%;
  color: var(--color-basic);
}

.goal{
  font-size: 50px;
  color: var(--color-brand);
}

.goal-text{
  float: right;
  text-align: right;

  width: 500px;
  margin-top: 90px;
}
