<div class="userName">hi,
  <input [(ngModel)]="userName" (ngModelChange)="updateUserName()"
    class="userName-name" placeholder="name"/>
</div>

<div class="streak">
  <input [(ngModel)]="streak" (ngModelChange)="updateStreak()"
    class="streak-num" readonly/>
  <!-- <div class="streak--num"
  (click)="updateStreak()">{{streak}}</div> -->
  <div class="streak-text">days streak</div>
</div>

<div class="goal">
  <input [(ngModel)]="goal" (ngModelChange)="updateGoal()"
    class="goal-text" placeholder="set your goal"/>
</div>
