:host{
  --font-color-basic: white;
  --font-color-brand: #3C4AA7;

  display: block;
  height: 450px;
  width: 600px;
}

input{
  all: unset;
}

.userName{
  color: var(--font-color-basic);
  font-size: 50px;
  transform: rotate(90deg);
  transform-origin: left top;
  position:relative;
  left: 55px;
}

.userName-name{
  width: 260px;
  color: var(--font-color-brand);
}

.streak{
  float: right;
  position: relative;
  bottom: 65px;
  right: 0;
}

.streak--num{
  color: var(--font-color-brand);
  font-size: 100px;
  text-align: center;
}

.streak--text{
  color: var(--font-color-basic);
  text-align: center;
  font-size: 130%;
  position: relative;
  bottom: 20px;
}

.goal{
  color: var(--font-color-brand);
  font-size: 50px;
}

.goal-text{
  width: 500px;
  margin-top: 90px;
  float: right;
  text-align: right;
}
