:host{
  --color-basic: white;
  --color-brand: #3C4AA7;

  all: unset;

  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  width: 66%;
  max-width: 400px;
  height: 50px;
  margin: 20px auto;

  font-size: 20px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 30px;

  transition: 0.2s;
}

:host:hover{
  cursor: pointer;

  transform: scale(1.05);
}

.todo__button--check{
  position: absolute;
  top:5px;
  left:5px;

  margin: 10px;

  color: var(--color-basic);
}

.todo__button--text{
  text-align: center;
}

@media screen and (max-width: 480px)
{
  :host{
    margin: 0.8em auto;
  }
}
