@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:host{
  --font: 'RixYeoljeongdo_Regular';
  --bg-color: #E1E2E1;
}

*{
  font-family: var(--font);
}

.footer{
  width: 600px;
  height: 100px;
    text-align: center;
  background-color: var(--bg-color);
}

.footer-img{
  width: 100px;
}
