:root{
  --bg-color: #E1E2E1;
}

body{
  margin: 0;
  display:block;
  background: var(--bg-color);
  width: 600px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: white;
}
