:root{
  --bg-color: #E1E2E1;

  width: 100vw;
  background: white;
  overflow: hidden;
}

body{
  display:block;
  width: 100vw;
  max-width: 600px;
  min-height: 100vh;

  margin: 0;
  margin-left: auto;
  margin-right: auto;

  background: var(--bg-color);
}
