<div class="todo__run">
  <div class="todo__line">
    <div class="todo__line--white"></div>
    <div class="todo__line--blue"
      [ngStyle]="{'transform': todoService.runLine()}"
    ></div>
  </div>
  <img class="todo__run--person" src="/assets/img/run.gif" alt="run.gif" [ngStyle]="{'left': todoService.runPerson()}">
</div>

<app-todo-button #todoButton *ngFor="let todo of todoService.todos"
  [todo]="todo"
  [ngStyle]="{'background-color': todoButton.getBGColor(), 'color': todoButton.getTextColor()}"
  (click)="todoButton.buttonOnClick()" (dblclick)="todoButton.buttonOnDblclick()">
</app-todo-button>

<div class="todo__add">
  <input [(ngModel)]="todoText" class="todo__add--text" placeholder="add your actions"/>
  <button class="todo__add--button"
    (click)="todoService.addTodo(todoText);todoText=''">+</button>
</div>
