:host{
  --color-basic: white;
  --color-brand: #3C4AA7;

  display: block;
  width: 100vw;
  max-width: 600px;
  padding-bottom: 50px;
  min-height: 325px;
}

.todo__run{
  position: relative;
  display: block;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.todo__line{
  margin:auto;

  width: 66%;
  max-width: 400px;
  height: 5px;

  overflow: hidden;
}

.todo__line--white{
  margin: auto;

  width: 100%;
  max-width: 400px;
  height: 5px;

  background-color: var(--color-basic);
}

.todo__line--blue{
  margin: auto;

  width: 100%;
  max-width: 400px;
  height: 5px;

  background-color: var(--color-brand);

  transition: 0.5s;
  transform: translate(-400px, -5px);
}

.todo__run--person{
  position: absolute;
  top: -80px;
  left: 50px;

  width: 100px;

  transition: 1s;
  transition-timing-function: cubic-bezier();
}

.todo__add{
  display: flex;
  text-align: center;
  align-items: baseline;
  justify-content: space-between;

  width: 66%;
  max-width: 400px;
  margin-left:auto;
  margin-right:auto;
}

.todo__add--text{
  all: unset;

  display: inline-block;
  align-items: center;
  justify-content: center;

  width: 84%;
  height: 50px;

  font-size: 20px;
  background-color: white;

  box-shadow: 5px 5px 5px grey;
  border-radius: 30px;

  transition: 0.2s;
}

.todo__add--button{
  all: unset;

  position: relative;
  display: inline-block;
  text-align: center;
  top: 5px;

  width: 30px;
  height: 30px;

  font-size: 30px;
  color: var(--color-brand);
  background-color: var(--color-basic);

  border-radius: 30px;
  box-shadow: 5px 5px 5px grey;

  transition: 0.2s;
}

.todo__add--button:hover{
  cursor: pointer;

  transform: scale(1.15);
}

@media screen and (max-width: 480px)
{
  :host{
    padding-bottom: 0px;
  }
  .todo__run{
    margin-bottom: 6vh;
  }
}
