:host{
  --color-basic: white;
  --color-brand: #3C4AA7;

  display: block;
  height: 450px;
  width: 600px;
}

.todo-run{
  display: block;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.todo-add{
  all: unset;

  display: block;
  text-align: center;

  width: 30px;
  height: 30px;
  margin: auto;

  font-size: 30px;
  color: var(--color-brand);
  background-color:white;

  border-radius: 30px;
  box-shadow: 5px 5px 5px grey;

  transition: 0.2s;
}

.todo-add:hover{
  cursor: pointer;

  transform: scale(1.15);
}
